name: crypto_lab6
description: Cryptocurrency Tracker for Lab Work
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

version: 1.0.0+1

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.4
  flutter_bloc: ^8.1.1
  shimmer: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true